# Import Pandas

In [1]:
import pandas as pd

# Importing Data

In [2]:
names = ["id","title","year","rating","votes","length","genres"]
data = pd.read_csv('imdb_top_10000.txt', sep="\t", names=names, index_col=0)

# Exploring our Data

In [3]:
data.head()

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [4]:
data.head(3)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller

In [5]:
data.tail()

,title,year,rating,votes,length,genres
id,,,,,,
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   year    10000 non-null  int64
 2   rating  10000 non-null  float64
 3   votes   10000 non-null  int64
 4   length  10000 non-null  object
 5   genres  9999 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [7]:
data.describe()

               year        rating          votes
count  10000.000000  10000.000000   10000.000000
mean    1993.472800      6.386070   16604.012800
std       14.829924      1.189933   34563.459698
min     1950.000000      1.500000    1356.000000
25%     1986.000000      5.700000    2333.750000
50%     1998.000000      6.600000    4980.500000
75%     2005.000000      7.200000   15277.750000
max     2011.000000      9.200000  619479.000000